{% extends 'shared/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'shared/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Add Fees Record</h2>
    <div class="card card_fee">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Add Record</button>
                    <a href="{% url 'fees_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
