{% extends 'shared/base.html' %}
{% load static %}

{% block navbar %}
{% include 'shared/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="main-panel container my-5">
    <div class="content-wrapper mt-5">
      <h2 class="text-center mb-4">Staff Dashboard</h2>

        <div class="row justify-content-center"> 
            <!-- Students Card -->
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card custom-card text-center">
                  <div class="card-body d-flex flex-column justify-content-between">
                      <div class="d-flex justify-content-center align-items-center mb-2">
                          <h2><p class="mb-0 text-muted">Students List</p></h2>
                      </div>
                      <a href="{% url 'student_list' %}" class="btn btn-primary mt-3">View students</a>
                      <canvas id="transactions-chart" class="mt-auto" height="65"></canvas>
                  </div>
              </div>
          </div>

            <!-- History Library Card -->
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card custom-card text-center">
                  <div class="card-body d-flex flex-column justify-content-between">
                      <div class="d-flex justify-content-center align-items-center mb-2">
                         <h2> <p class="mb-0 text-muted">Library History</p></h2>
                      </div>
                      <a href="{% url 'library_record_list' %}" class="btn btn-primary mt-3">View Records</a>
                      <canvas id="transactions-chart" class="mt-auto" height="65"></canvas>
                  </div>
              </div>
          </div>

            <!-- Manage Fees -->
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card custom-card text-center">
                  <div class="card-body d-flex flex-column justify-content-between">
                      <div class="d-flex justify-content-center align-items-center mb-2">
                          <h2><p class="mb-0 text-muted">Manage Fees</p></h2>
                      </div>
                      <a href="{% url 'fees_list' %}" class="btn btn-primary mt-3">Fees Recode</a>
                      <canvas id="transactions-chart" class="mt-auto" height="65"></canvas>
                  </div>
              </div>
          </div>

        </div>
    </div>
</div>

{% endblock %}
